<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="theme.css">
    <title>Vue3</title>
</head>
<body>
<div id="app" class="form-control">

    <input type="text" v-model="inputText">
    <h4>{{inputText}}</h4>
    <div v-if="arr.length == 0" >Введите ваше сообщение</div>
    <button class="btn" @click="add">Добавить</button>
    <ul>
        <li v-for="(elem, index) of arr">{{  elem + ' - ' + index}} <button class="btn danger" @click="remove(index)">Удалить</button></li>
    </ul>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
<script>
  //  console.log('ntrcn', 'wert')
</script>

</body>
</html>